<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="latest-mars-news">
      <div class="col-md-12">
        <h2> <b>Latest Mars News</b> </h2>
        <h3 class="heading">{{mars.news_title}}</h3>
        <h4>{{mars.news_p}}</h4>
      </div>
    </div>

    <div class="row" id="featured-mars-image">
      <div class="col-md-9">
        <h3> <b>Featured Mars Image</b> </h3>
        <img src="{{mars.featured_image_url}}" width=75% height=75%>
      </div>
      <div class="row">
      <div class="col-md-3">
          <h4 align="right"> <b>Current Weather on Mars</b> </h4>
          <h5 align="right">{{mars.mars_weather}}</h5>
      </div>
        <div class="col-md-3">
            <h4 align="right"> <b>Mars Facts</b> </h4>
            <div id="table-area" class="" style="overflow-x:auto;">
              <div>{{mars.table | safe}}</div>
            </div>
        </div>
      </div>
    </div>
    <div class="row" id="mars-hemi">
        <div class="col-md-12">
            <h3> <center><b>Mars Hemispheres</b></center> </h3>
            <div class="row">
            <div class="col-md-6">
              <h4> <center><b>Valles Marineris Hemisphere</b></center> </h4>
              <center>
                <img src="{{mars.image4}}" width=100% height=100%>
              </center>
            </div>
            <div class="col-md-6">
              <h4> <center><b>Cerberus Hemisphere</b></center> </h4>
              <center>
                <img src="{{mars.image1}}" width=100% height=100%>
              </center>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
              <h4> <center><b>Schiaparelli Hemisphere</b></center> </h4>
              <center>
                <img src="{{mars.image2}}" width=100% height=100%>
              </center>
            </div>
            <div class="col-md-6">
              <h4> <center><b>Syrtis Major Hemisphere</b></center> </h4>
              <center>
                <img src="{{mars.image3}}" width=100% height=100%>
              </center>
            </div>
            </div>
        </div>
    </div>
  </div>
</body>

</html>